.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

.dice {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #FFF8CD;
}

h1 {
    margin: 2%;
    font-family: 'Rye', cursive;
    text-shadow: 5px 5px #646464;
    font-size: 6vmax;
    color: #FF9642;
}

p {
    font-size: 3vmax;
    color: #FF9642;
    font-family: 'Smokum', cursive;
}

#player-choice,
#opponent-choice {
    height: 12vmax;
    width: 12vmax;
    padding: 0 6vmax;
}

footer {
    margin-top: 2%;
    color: #FFE05D;
    text-shadow: 1px 1px #646464;
    text-align: center;
    font-family: 'Smokum', cursive;
}

@media screen and (max-width: 768px) {

    .container {
        width: 100%;
    }

    footer,
    h1 {
        text-shadow: none;
    }

}